/* CSS declarations go here */

body { 
  background: #E7EBF2;
  padding: 0 10px;
}

a { 
  color: #576B95;
}

#receiver {
  height: 80px;
  width: 80px;
}

@map-width: 390px;
@map-height: 80px;
@map-point-height: 8px;

#timeline { 
  margin: 10px auto;
}
.statuses { 
  margin: 0 auto;
  li { 
    width: 391px;
    margin: 0 0 15px;
    padding: 13px 15px;
    border-radius: 3px;
    border: 1px solid #CECFDD;
    background: white;
    list-style-type: none;
    margin: 10px 0;
    .status { 
       margin: 6px auto;
    }
    .map { 
      position: relative;
      margin: 10px auto 0;
      img {
        border-radius: 4px;
      }
      .point { 
        position: absolute;
        top: (@map-height - @map-point-height)/2;
        left: (@map-width - @map-point-height)/2;
        height: @map-point-height;
        width:  @map-point-height;
        border-radius: @map-point-height;
        border: 1px solid black;
        background: #b06582;
      }
    }
  }
}
.user { 
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 5px;
  margin: 0 0 5px;
  .user-icon { 
    -webkit-box-flex: 0;
    padding: 0 7px 0 0;
    img { 
      height: 32px;
      width:  32px;
    }
  }
  .user-info { 
    -webkit-box-flex: 1;
    .name { 
      font-size: 13px;
      font-weight: bold;
      line-height: 17px;
    }
    .screen-name { 
      font-size: 13px;
      color: #bbb;
    }
    .created { 
      color: #bbb;
      font-size: 12px;
      line-height: 15px;
    }
    .source { 
      color: #bbb;
      font-size: 12px;
      line-height: 15px;
      a { 
        color: #bbb;
      }
    }
  }
}
